spring:
  application:
    name: Ingrate
  profiles:
    include: db
    active: local
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
server:
  port: 8080